# Value are intentionally missing.
# Real values are visible in production version.

#Databse (PostqreSQL)
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=

#Flyway
FLYWAY_USER=
FLYWAY_PASSWORD=
FLYWAY_URL=

#Postqres
PGUSER=
PGPASSWORD=
PGDATABASE=
PGHOST=
PGPORT=